doctype
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Дипломная работа по адаптивной и мобильной вёрстке
		link(rel="stylesheet", href="style.css")
	body
		header.header
			.logo
			h1.header-title
			button.apple
			button.google
		main
			section.athlets
				h2.section-header
					| Athlets
				pucture.section-pic
				.features
					.counter 01
					h3.feat-title
						| connection
					p.feat-description
						| Connect with coaches directly, you can ping coaches to view profile..feature-1
					.counter 02
					h3.feat-title
						| collaboration
					p.feat-description
						| Work with other student athletes to  increase visability. When you share and like other players videos it will increase your visability as a player. This is the team work aspect to Surface 1.
					.counter 03
					h3.feat-title
						| growth
					p.feat-description
						| Resources and tools for you to get better as a student Athelte. Access to training classes, tutor sessions, etc 
			section.players
				h2.section-title
					| Players
				pucture.section-pic
				.features
					.counter 01
					h3.feat-title
						| connection
					p.feat-description
						| Connect with talented athlete directly, you can watch their skills through video showreels directly from Surface 1.
					.counter 02
					h3.feat-title
						| collaboration
					p.feat-description
						| Work with recruiter to increase your chances of finding talented athlete.
					.counter 03
					h3.feat-title
						| growth
					p.feat-description
						| Save your time, recruit proper athlets for your team.
			section.advantages
				picture.adv-1
					.counter 01
					h3.adv-title
						| be active
					p.adv-descriotion
						| Post videos with your skills, Like and follow others to be more popular.
				picture.adv-2
					.counter 02
					h3.adv-title
						| find contact
					p.adv-descriotion
						| Contact others to find right coach or athlete you are looking for. 
				picture.adv-3
					.counter 03
					h3.adv-title
						| work it
					p.adv-descriotion
						| Enjoy being a student athlete, the recruiting process can be overwhelming, we want to make this enjoyable experience.
		footer.footer
			input.download
			button.apple
			button.google
			.logo

