@media (max-width: 640px) {}
@media (min-width: 641px) and (max-width: 960px) {}
@media (min-width: 961px) and (max-width: 1920px) {}

padding-top: 0;
padding-right: 0;
padding-bottom: 0;
padding-left: 0;

